section.cards.py-5.basic
    div(class ="flex items-center rounded-xl  maxmd:rounded-[1.75rem]  justify-between    bg-[#149ada] container m-auto p-10 maxmd:flex-col")
            div(class = "left w-[35%] maxmd:w-full maxmd:mb-20")
                div(class ="text text-white translate-y-6  duration-[2000ms] opacity-0 ") 
                    h1(class ="font-bold text-xl ") Our Success in numbers 
                    p(class ="") #[strong Our numbers confirm] that we are on the right track - on our cosmetic clinic we are committed to keep patient satisfaction as our first priority
            div(class = "right flex-grow-0 w-[60%] maxmd:w-full")
                div(class ="flex justify-between items-center maxmd:flex-col")
                    div(class ="bg-white mb-2 rounder-sm-larg  text-center  rounded-xl maxmd:rounded-[1.75rem] p-3 h-32 w-32 mx-auto md:m-auto aos-init  ")
                        img(src="./img/surgery.webp" class = "w-10 m-auto", loading="lazy" alt="" width = "300" height = "300")
                        .count 322 +
                        h1(class="capitalize font-semibold text-sm text-[#131b39] mt-1") Surgery Operations
                    div(class ="bg-white mb-2 rounder-sm-larg  text-center  rounded-xl maxmd:rounded-[1.75rem] p-3 h-32 w-32 mx-auto md:m-auto aos-init ")
                        img(src="./img/surgery.webp" class = "w-10 m-auto", loading="lazy" alt="" width = "300" height = "300")
                        .count 322 +
                        h1(class="capitalize font-semibold text-sm text-[#131b39] mt-1") Surgery Operations
                    div(class ="bg-white mb-2 rounder-sm-larg  text-center  rounded-xl maxmd:rounded-[1.75rem] p-3 h-32 w-32 mx-auto md:m-auto aos-init ")
                        img(src="./img/surgery.webp" class = "w-10 m-auto", loading="lazy" alt="" width = "300" height = "300")
                        .count 322 +
                        h1(class="capitalize font-semibold text-sm text-[#131b39] mt-1") Surgery Operations