div(class ="big-image basic  h-[calc(100vh-80px)] maxmd:h-[250px] w-[100vw] relative bg-cover bg-center ")
    div(class = "w-[100%] h-[100%]  absolute left-0 top-0")
        img(class = "w-[100%] h-[calc(100vh-80px)]  maxmd:h-[250px]" src="https://mad-egy.com/madegy-backend/public/storage/554/62a757425c9b4_web-cover.jpg", loading="lazy" alt="" width = "300" haight = "300" ) 
        div(class ="w-[100%] h-[100%] bg-[#0000004d] absolute left-0 top-0")
            div(class ="w-[90%] left-10 rtl:right-10 top-[50%] absolute translate-y-[-50%]")
                h1(class ="maxsm:text-[calc(1.375rem+0.5vw)]") mohmed mohmed mohmed mohmed mohmed mohmed
                h1(class ="maxsm:text-[calc(1.375rem+0.5vw)]") ahmed ahmed ahmed ahmed ahmed ahmed ahmed

