footer(class ="footer basic p-3 md:p-7 bg-[#131b39] mt-16") 
    .container 
        div(class ="flex flex-wrap justify-between maxmd:items-center maxmd:flex-col p-5 maxmd:justify-center")
            .item 
                img(src="./img/cirta-care-01footer.webp", loading="lazy" alt="" width = "200" height = "200")
            .item 
                h1(class ="text-[#44a883] text-lg capitalize my-5 ") Important Links
                ul(class = ".links mt-2 space-y-3  flex justify-center flex-col maxmd:items-center") 
                    li #[a(href="index.html" class ="hover:text-[#149ada] cursor-pointer w-fit footer-prg text-gray-400") Home]
                    li #[a(href="about.html" class ="hover:text-[#149ada] cursor-pointer w-fit footer-prg text-gray-400") About Us]
                    li #[a(href="service.html" class ="hover:text-[#149ada] cursor-pointer w-fit footer-prg text-gray-400") Services ]
                    li #[a(href="contact.html" class ="hover:text-[#149ada] cursor-pointer w-fit footer-prg text-gray-400") Contact]

            .item 
                h1(class ="text-[#44a883] text-lg capitalize my-5") Our Services 
                ul(class = ".links mt-2 space-y-3  flex justify-center flex-col maxmd:items-center") 
                    li #[a(href="" class ="hover:text-[#149ada] cursor-pointer w-fit footer-prg text-gray-400") Dental]
                    li #[a(href="" class ="hover:text-[#149ada] cursor-pointer w-fit footer-prg text-gray-400") Plastic Surgery]
                    li #[a(href="" class ="hover:text-[#149ada] cursor-pointer w-fit footer-prg text-gray-400") Hair Transplant]

            .item 
                h1(class ="text-[#44a883] text-lg capitalize my-5 maxmd:text-center") Contact Us
                ul(class = ".links mt-2 space-y-3  flex justify-center flex-col maxmd:items-center") 
                    li #[a(href="" class ="hover:text-[#149ada] cursor-pointer w-fit footer-prg text-gray-400") #[span(class ="icon-map-marker mr-1")] Istanbul - Turkey]
                    li #[a(href="" class ="hover:text-[#149ada] cursor-pointer w-fit footer-prg text-gray-400") #[span(class ="icon-mobile mr-1")] +905528333390]
                    li #[a(href="" class ="hover:text-[#149ada] cursor-pointer w-fit footer-prg text-gray-400") #[span(class ="icon-envelope-o mr-1")] Info@Cirtacare.Com]

            div(class ="item md:w-1/6")
                h1(class ="text-[#44a883] text-lg my-5  capitalize maxmd:text-center") Follow Us
                ul(class = ".links mt-2  flex items-center justify-center  flex-wrap ") 
                    li(class ="m-2") #[a(href="" class ="text-xl       footer-prg text-white  rounded-full w-10 h-10 cursor-pointer flex items-center justify-center bg-[#44a883]")  #[span(class ="icon-whatsapp  ")]] 
                    li(class ="m-2") #[a(href="" class ="text-xl       footer-prg text-white  rounded-full w-10 h-10 cursor-pointer flex items-center justify-center bg-[#44a883]")  #[span(class ="icon-youtube  ")]] 
                    li(class ="m-2") #[a(href="" class ="text-xl       footer-prg text-white  rounded-full w-10 h-10 cursor-pointer flex items-center justify-center bg-[#44a883]")  #[span(class ="icon-facebook  ")]] 
                    li(class ="m-2") #[a(href="" class ="text-xl       footer-prg text-white  rounded-full w-10 h-10 cursor-pointer flex items-center justify-center bg-[#44a883]")  #[span(class ="icon-instagram  ")]] 
                    li(class ="m-2") #[a(href="" class ="text-xl       footer-prg text-white  rounded-full w-10 h-10 cursor-pointer flex items-center justify-center bg-[#44a883]")  #[span(class ="icon-twitter  ")]] 
                    li(class ="m-2") #[a(href="" class ="text-xl       footer-prg text-white  rounded-full w-10 h-10 cursor-pointer flex items-center justify-center bg-[#44a883]")  #[span(class ="icon-linkedin   ")]]
                    li(class ="m-2") #[a(href="" class ="text-xl       footer-prg text-white  rounded-full w-10 h-10 cursor-pointer flex items-center justify-center bg-[#44a883]")  #[span(class ="icon-tiktok   ")]]
        div(class ="text-center text-gray-400 mt-7 text-sm") All Copyrights reserved © 2022 Cirta Care Powered By #[a(href="https://horizon-egypt.com/" class ="font-bold text-base") horizon]

//-         icon-whatsapp
//- icon-youtube
//- icon-facebook
//- icon-instagram
//- icon-twitter
//- icon-linkedin
//- icon-tiktok