div(class ="fixed  top-0 left-0 w-full h-full loead flex items-center justify-center " style = "z-index : 1000000000000; background-color: #010016;")
    img(src="./img/loead.gif", alt="alt" width="100" loading="lazy" height = "100" class =" w-[250px] h-[250px] ")