section(class ="slider1 basic py-6 rounded-[1.75rem]  bg-[#131B39] ")
    div(class = " relative container m-auto px-4 " )
        .swiper.mySwiper
            .swiper-wrapper
                .swiper-slide
                    div(class ="flex justify-between mx-auto w-full md:w-[90%] items-center maxmd:flex-col")
                        div(class ="flex flex-col justify-between items-center maxmd:hidden")
                            button(class="w-44 bg-white rounded-[1.75rem] font-bold capitalize mb-3 pl-7 pr-7 pt-3 pb-3 hover:shadow-xl") Dental
                            button(class="w-44 bg-white rounded-[1.75rem] font-bold capitalize mb-3 pl-7 pr-7 pt-3 pb-3 hover:shadow-xl") Dental
                            button(class="w-44 bg-white rounded-[1.75rem] font-bold capitalize mb-3 pl-7 pr-7 pt-3 pb-3 hover:shadow-xl") Dental
                        .custom-select(class ="mb-5 hidden maxmd:block maxmd:w-full" style='')
                            select(class ="select-section  p-2 text-gray-400 bg-white hover:text-[#149ada] my-3 w-full outline-none border-none  " , script='console.log (true)')
                                option(class ="bg-[#149ada] text-white hover:bg-white hover:text-black p-2" value='https://www.google.com/') Audi
                                option(class ="bg-[#149ada] text-white hover:bg-white hover:text-black p-2" value='https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Frecover') BMW
                                option(class ="bg-[#149ada] text-white hover:bg-white hover:text-black p-2" value='www.yahoo.com') Citroen

                        div(class ="imeg flex-grow-0 mx-5")
                            img(src="./img/plastic-surgery.webp" class = "w-full h-60 md:h-80 rounded-xl",  loading="lazy" alt="")
                        div(class="text-center text-white maxmd:mt-5")
                            h1  Plastic Surgery
                            button(class="capitalize mt-3 bg-[#149ada] font-semibold rounded-full p-2 text-white mb-5 md:w-60 text-lg w-32") Dental
                .swiper-slide
                    div(class ="flex justify-between mx-auto w-full md:w-[90%] items-center maxmd:flex-col")
                        div(class ="flex flex-col justify-between items-center maxmd:hidden")
                            button(class="w-44 bg-white rounded-[1.75rem] font-bold capitalize mb-3 pl-7 pr-7 pt-3 pb-3 hover:shadow-xl") Dental
                            button(class="w-44 bg-white rounded-[1.75rem] font-bold capitalize mb-3 pl-7 pr-7 pt-3 pb-3 hover:shadow-xl") Dental
                            button(class="w-44 bg-white rounded-[1.75rem] font-bold capitalize mb-3 pl-7 pr-7 pt-3 pb-3 hover:shadow-xl") Dental
                        div(class =" custom-select mb-5 w-[200px] maxmd:w-full hidden maxmd:block  relative" style='')
                            select(class ="select-section  p-2 text-gray-400 bg-white hover:text-[#149ada] my-3 w-[80%] outline-none border-none   ")
                                option(class ="bg-[#149ada] text-white hover:bg-white hover:text-black p-2" value='https://www.google.com/') Audi
                                option(class ="bg-[#149ada] text-white hover:bg-white hover:text-black p-2" value='https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Frecover') BMW
                                option(class ="bg-[#149ada] text-white hover:bg-white hover:text-black p-2" value='www.yahoo.com') Citroen

                            
                        div(class ="imeg flex-grow-0 mx-5")
                            img(src="./img/plastic-surgery.webp" class = "w-full h-60 md:h-80 rounded-xl", loading="lazy"  alt="")
                        div(class="text-center text-white maxmd:mt-5")
                            h1  Plastic Surgery
                            button(class="capitalize mt-3 bg-[#149ada] font-semibold rounded-full p-2 text-white mb-5 md:w-60 text-lg w-32") Dental
        div(class ="bg-[#149ada] flex justify-center items-center w-10 h-10 rounded-full shadow focus:outline-none swiper-button-next  text-white maxmd:hidden  	 " )
        div(class ="swiper-button-prev bg-[#149ada] -ml-2 lg:-ml-4 flex justify-center items-center w-10 h-10 rounded-full shadow focus:outline-none text-white maxmd:hidden  ") 
