section.videos.py-10.basic 
    div(class="text-center")
            <div class="flex items-center justify-center space-x-3 rtl:space-x-reverse">
                <h1 class="w-12 h-1.5 rounded-xl bg-[#44a883]">
                
                </h1>
                <h1 class="capitalize font-semibold text-2xl mb-3">
                    |Success Partner
                </h1>
            </div>
            //- <h1 class="mt-2 capitalize text-sm text-[#4f4f4f]">
            //-     |_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
            //- </h1>
    .container.mx-auto
        .swiper.mySwiper3.mt-5
            .swiper-wrapper
                .swiper-slide.p-4
                    div(class ="flex flex-col rounded ")
                        div(class ="w-28 h-28 md:w-40 md:h-40")
                            a(href="") #[img(class =" rounded-full w-28 h-28 hover:shadow-lg md:w-40 md:h-40 border-2 border-[#149ada] p-1" src="./img/6546464.webp", loading="lazy" alt="alt" width = "100" height = "100")]
                .swiper-slide.p-4
                    div(class ="flex flex-col rounded ")
                        div(class ="w-28 h-28 md:w-40 md:h-40")
                            a(href="") #[img(class =" rounded-full w-28 h-28 hover:shadow-lg md:w-40 md:h-40 border-2 border-[#149ada] p-1" src="./img/6546464.webp", loading="lazy" alt="alt" width = "100" height = "100")]
                .swiper-slide.p-4
                    div(class ="flex flex-col rounded ")
                        div(class ="w-28 h-28 md:w-40 md:h-40")
                        
                            a(href="") #[img(class =" rounded-full w-28 h-28 hover:shadow-lg md:w-40 md:h-40 border-2 border-[#149ada] p-1" src="./img/6546464.webp", loading="lazy" alt="alt" width = "100" height = "100")]
            div(class ="bg-[#149ada] flex justify-center items-center w-10 h-10 rounded-full shadow focus:outline-none swiper-button-next  text-white  	 " )
            div(class ="swiper-button-prev bg-[#149ada]   flex justify-center items-center w-10 h-10 rounded-full shadow focus:outline-none text-white  ")
                