section.videos.py-10.basic 
    div(class="text-center")
            <div class="flex items-center justify-center space-x-3 rtl:space-x-reverse">
                <h1 class="w-12 h-1.5 rounded-xl bg-[#44a883]">
                
                </h1>
                <h1 class="capitalize font-semibold text-2xl mb-3">
                    |Videos
                </h1>
            </div>
            //- <h1 class="mt-2 capitalize text-sm text-[#4f4f4f]">
            //-     |_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
            //- </h1>
    
    div(class ="swiper mySwiper2 mt-5 opacity-0 translate-y-16 transition-all duration-[2000ms] ")
        .swiper-wrapper
            .swiper-slide
                div(class ="flex items-center justify-center relative w-12/4")
                    <iframe loading="lazy" class="videoIframe z-[-1111111] js-videoIframe w-full h-full aspect-[16/9]" width="727" height="409" src="https://www.youtube.com/embed/g-i3P-D6p7M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                    div(class ="absolute bg-[#00000045] z-[50000] w-full h-full left-0 top-0 ")
                        div(class ="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]")
                            <span  class=" video-player icon-play text-5xl w-20 h-20 hover:outline transition-all mx-auto bg-[#149ada] rounded-full flex justify-center items-center cursor-pointer  text-white translate-x--9"></span>
            .swiper-slide
                div(class ="flex items-center justify-center relative w-12/4")
                    <iframe  loading="lazy" class="videoIframe z-[-1111111] js-videoIframe w-full h-full aspect-[16/9]" width="727" height="409" src="https://www.youtube.com/embed/g-i3P-D6p7M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                    div(class ="absolute bg-[#00000045] z-[50000] w-full h-full left-0 top-0 ")
                        div(class ="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]")
                            <span  class="video-player icon-play text-5xl w-20 h-20 hover:outline transition-all text-white mx-auto bg-[#149ada] rounded-full flex justify-center items-center cursor-pointer   translate-x--9"></span>
        div(class ="bg-[#149ada] flex justify-center items-center w-10 h-10 rounded-full shadow focus:outline-none swiper-button-next  text-white   	 " )
        div(class ="swiper-button-prev bg-[#149ada] -ml-2 lg:-ml-4 flex justify-center items-center w-10 h-10 rounded-full shadow focus:outline-none text-white   ")

                